<div class="container">
  <div class="d-flex p-4">
    <h1 class="ml-auto font-weight-bolder">Power of Selector</h1>
  </div>

  <div class="d-flex">
    <app-card class="col-sm-4" title="Without NgRx">
      <app-without-ngrx
        (timeTaken)="addWithoutNgrxResult($event)"
      ></app-without-ngrx>
      <app-display-result [results]="withoutNgrxResults"></app-display-result>
    </app-card>
    <app-card class="col-sm-4" title="With NgRx">
      <app-without-ngrx></app-without-ngrx>
    </app-card>
    <app-card class="col-sm-4" title="With NgRx and Selector">
      <app-without-ngrx></app-without-ngrx>
    </app-card>
  </div>
</div>
